{
  ;; Layers you wish to have active
  ;; To get a list of all available layers, check github.com/dvcrn/proton/layers/
  :layers
  [
    ;; core layer. Don't remove.
    :core

    ;; tools
    ;; Get more at github.com/dvcrn/proton/tree/master/src/proton/layers/tools
    :tools/git

    ;; Languages
    ;; Get more at github.com/dvcrn/proton/tree/master/src/proton/layers/lang
    :lang/clojure
    :lang/python
    :lang/julia
  ]

  ;; Packages that are not part of a layer. List them here as keyword
  ;; All packages will be ensured to be installed. Stuff that is not listed here
  ;; Will get uninstalled so choose wisely!
  :additional-packages
  [
    :minimap
  ]

  ;; In a later version, proton will attempt to take over your configuration
  ;; This will be merged with a default version so use this here to override things
  :configuration
  [
    ;; appearance
    ["editor.fontFamily" "Hack"]

    ;; javascript arrays are deonated as vectors
    ;; the following would translate into ["one-dark-ui", "one-dark-syntax"]
    ;; to use atoms default theme, change to ["core.themes" ["one-dark-ui" "one-dark-syntax"]]
    ["core.themes" ["atom-material-ui" "atom-material-syntax"]]

    ;; stuff for proton
    ["proton.core.showTabBar" false]
    ["proton.core.relativeLineNumbers" false]

    ;; Prefer facebooks nuclide quick open instead of the normal atom one?
    ;; Un-comment the following line to install the nuclide version
    ;; (may take a while to install)
    ;; ["proton.core.quickOpenProvider" :nuclide]
  ]

  ;; Don't like a keybinding or want to add something yourself? Do it here
  ;; (not implemented yet)
  :keybindings {}

  ;; Want some custom behavior inside a certain window?
  ;; For example you prefer navigating with esc and enter? Add it here.
  :keymaps [{:selector ".tree-view" :keymap [["escape" "tree-view:toggle"]]}
            ;; Wanna rebind ESC to something else? You can do that here.
            ;; If you are good with esc, just remote the following line.
            {:selector "atom-text-editor.vim-mode.insert-mode" :keymap [["f d" "vim-mode:activate-normal-mode"]]}]
}
