{
  ;; This is your main proton configuration file
  ;; While using proton, all atom related configuration has to go inside here
  ;; Everything that is not set up through this file will get wiped on start
  ;; We gave you some cool defaults below but if you don't like it, feel free to change :)

  ;; Layers you wish to have active
  ;; To get a list of all available layers, check github.com/dvcrn/proton/tree/master/src/cljs/proton/layers
  :layers
  [
    ;; -----------------------------------
    ;; core layer. Don't remove.
    ;; -----------------------------------
    :core


    ;; -----------------------------------
    ;; tools
    ;; Get more at github.com/dvcrn/proton/tree/master/src/cljs/proton/layers/tools
    ;; -----------------------------------
    :tools/git
    :tools/linter
    ;; :tools/bookmarks
    ;; :tools/build
    ;; :tools/minimap


    ;; -----------------------------------
    ;; Languages
    ;; Get more at github.com/dvcrn/proton/tree/master/src/cljs/proton/layers/lang
    ;; -----------------------------------
    ;; :lang/clojure
    ;; :lang/csharp
    ;; :lang/python
    ;; :lang/julia
    ;; :lang/latex
    ;; :lang/elixir
    ;; :lang/markdown
    ;; :lang/rust
    ;; :lang/javascript

    ;; -----------------------------------
    ;; Frameworks
    ;; Get more at github.com/dvcrn/proton/tree/master/src/proton/layers/frameworks
    ;; -----------------------------------
    ;; :frameworks/django

    ;; -----------------------------------
    ;; etc
    ;; Get more at github.com/dvcrn/proton/tree/master/src/cljs/proton/layers/fun
    ;; -----------------------------------
    ;; :fun/power_mode
  ]

  ;; Packages that are not part of a layer. List them here as keyword
  ;; All packages will be ensured to be installed. Stuff that is not listed here
  ;; Will get uninstalled so choose wisely!
  :additional-packages
  [
    ;; :pigments
  ]

  ;; Packages that you want to disable.
  ;; Note that packages will be removed except bundled packages.
  ;; Bundled packages will be disabled instead.
  ;; Use this configuration instead of atom's `core.disabledPackages`
  :disabled-packages [
    ;; :autoupdate-packages
    ;; :about
    ;; :welcome
  ]
  ;; Proton takes over your atom configuration. All settings that are not listed here will get wiped
  ;; Configurations are denoted as 2 element vector consisting of k/v
  ;; sub-vectors inside v will get treated like javascript arrays
  :configuration
  [
    ;; appearance
    ["editor.fontFamily" "Hack"]

    ;; the current default theme
    ["core.themes" ["nucleus-dark-ui" "atom-dark-fusion-syntax"]]
    ;; here are some more popular theme ideas for you to pick from:
    ;; ["core.themes" ["atom-material-ui" "atom-material-syntax"]]
    ;; ["core.themes" ["one-dark-ui" "one-dark-syntax"]]

    ;; proton configuration
    ["proton.core.showTabBar" true]
    ["proton.core.relativeLineNumbers" false]

    ;; prefer classic vim mode over vim-mode-plus? Change this to :vim-mode
    ["proton.core.inputProvider" :vim-mode-plus]
  ]

  ;; Don't like a keybinding or want to add something yourself? Do it here
  ;; The following example adds a category `foo-category` under <SPC>z
  ;; and adds a action under `y` with the title `execute hello`.
  ;; Upon executing, proton will dispatch the action `hello` on the current view
  ;;
  ;; :keybindings {:z {:category "foo-category"
  ;;                   :y {:title "execute hello"
  ;;                       :action "hello"}}}
  :keybindings {}

  ;; Want some custom behavior inside a certain window?
  ;; Add your own nifty things here!
  :keymaps [{:selector ".tree-view" :keymap [["escape" "tree-view:toggle"]]}
            ;; Want to rebind ESC to something else? You can do that here.
            ;; If you are good with esc, just remove the following line.
            {:selector "atom-text-editor.vim-mode-plus:not(.normal-mode)" :keymap [["f d" "vim-mode-plus:activate-normal-mode"]]}
            ;; {:selector "atom-text-editor.vim-mode:not(.normal-mode)" :keymap [["f d" "vim-mode:activate-normal-mode"]]}
  ]
}
