{
  ;; Layers you wish to have active
  ;; To get a list of all available layers, check foo.com/layers
  :layers
  [
    :core
    :git
    :clojure
    :python
  ]

  ;; Packages that are not part of a layer. List them here as keyword
  ;; All packages will be ensured to be installed. Stuff that is not listed here
  ;; Will get uninstalled so choose wisely!
  :additional-packages
  [
    :minimap
  ]

  ;; In a later version, proton will attempt to take over your configuration
  ;; This will be merged with a default version so use this here to override things
  :configuration
  [
    ;; appearance
    ["editor.fontFamily" "Hack"]

    ;; stuff for proton
    ["proton.core.showTabBar" false]
    ["proton.core.relativeLineNumbers" false]
  ]

  ;; Don't like a keybinding or want to add something yourself? Do it here
  ;; (not implemented yet)
  :keybindings {}

  ;; Want some custom behavior inside a certain window?
  ;; For example you prefer navigating with esc and enter? Add it here.
  :keymaps [{:selector ".tree-view" :keymap [["escape" "tree-view:toggle"]]}]
}
