# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'ctrl-alt-o': 'proton:toggle'

'atom-text-editor.proton-mode':
  'a': 'proton:chain'
  'b': 'proton:chain'
  'c': 'proton:chain'
  'd': 'proton:chain'
  'e': 'proton:chain'
  'f': 'proton:chain'
  'g': 'proton:chain'
  'h': 'proton:chain'
  'i': 'proton:chain'
  'j': 'proton:chain'
  'k': 'proton:chain'
  'l': 'proton:chain'
  'm': 'proton:chain'
  'n': 'proton:chain'
  'o': 'proton:chain'
  'p': 'proton:chain'
  'q': 'proton:chain'
  'r': 'proton:chain'
  's': 'proton:chain'
  't': 'proton:chain'
  'u': 'proton:chain'
  'v': 'proton:chain'
  'w': 'proton:chain'
  'x': 'proton:chain'
  'y': 'proton:chain'
  'z': 'proton:chain'
  'A': 'proton:chain'
  'B': 'proton:chain'
  'C': 'proton:chain'
  'D': 'proton:chain'
  'E': 'proton:chain'
  'F': 'proton:chain'
  'G': 'proton:chain'
  'H': 'proton:chain'
  'I': 'proton:chain'
  'J': 'proton:chain'
  'K': 'proton:chain'
  'L': 'proton:chain'
  'M': 'proton:chain'
  'N': 'proton:chain'
  'O': 'proton:chain'
  'P': 'proton:chain'
  'Q': 'proton:chain'
  'R': 'proton:chain'
  'S': 'proton:chain'
  'T': 'proton:chain'
  'U': 'proton:chain'
  'V': 'proton:chain'
  'W': 'proton:chain'
  'X': 'proton:chain'
  'Y': 'proton:chain'
  'Z': 'proton:chain'
  '*': 'proton:chain'
  '+': 'proton:chain'
  '%': 'proton:chain'
  '_': 'proton:chain'
  '"': 'proton:chain'
  '|': 'proton:chain'
  '-': 'proton:chain'
  '1': 'proton:chain'
  '2': 'proton:chain'
  '3': 'proton:chain'
  '4': 'proton:chain'
  '5': 'proton:chain'
  '6': 'proton:chain'
  '7': 'proton:chain'
  '8': 'proton:chain'
  '9': 'proton:chain'
  '0': 'proton:chain'
  'escape': 'proton:chain'
  'backspace': 'proton:chain'
  'tab': 'proton:chain'
